@import url(./Fuentes.css);
@import url(./General.css);

.contenedor {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  background-color: var(--Background-Color);
}

/*_________________________Navbar_________________________*/
.navbar {
  width: 60px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--Background-Color);
  border-right: var(--Separadores) solid 1px;
}

.navbarExpandido {
  gap: 10px;
  width: 250px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--Background-Color);
  border-right: var(--Separadores) solid 1px;
}

.check {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}

.labelCheck {
  width: 100%;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  color: var(--Separadores);
}

.labelCheck:hover {
  cursor: pointer;
}

.divCheck {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*_______________________Separador___________________*/
.separador {
  width: 100%;
  border: solid 1px var(--Separadores);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 1px;
}

/*___________________Buscador______________________________*/

.buscador {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

}

.buscador i {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: var(--Separadores);
  background-color: var(--Background-Color);
}

.buscador i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.buscador input {
  border: none;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 15px;
  color: var(--Texto-Color-Complemento);
  font-family: "Concert One", sans-serif;
  background-color: var(--Separadores);

}

.buscador::placeholder {
  color: red;
}

/*___________________Musica________________*/
.musica {
  width: 100%;
}


/*____________________Ingreso______________________________*/

.ingreso {
  width: 250px;
  height: 100%;
  box-sizing: border-box;
}


/*______________Contenedor Principal*/


.divPrincipal {
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  display: grid;
  flex-direction: column;
  grid-template-rows: 1fr, 1fr, 100px;
  gap: 0;
  flex-wrap: nowrap;
  background-color: var(--Background-Color-Complemento);

}

.divPrincipal::-webkit-scrollbar {
  width: 10px;
}

.divPrincipal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--Separadores);
  border-radius: 10px;
}

.divPrincipal::-webkit-scrollbar-thumb {
  background: var(--Separadores);
  border-radius: 10px;
}

.animesGrid {
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}


/*___________________Paginador________________*/

.paginador {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}

.paginador button {
  border: none;
  height: 80%;
  box-sizing: border-box;
  width: 35px;
  border-radius: 5px;
  font-family: "Roboto Flex", sans-serif;
}

.paginador button:hover {
  cursor: pointer;
  transform: scale(1.09);
}

.paginaActual {
  background-color: var(--Boton-Primario);
  color: var(--Texto-Color);

}

.paginaNoActual,
.siguiente,
.anterior {
  background-color: var(--Separadores);
  color: var(--Texto-Color-Complemento);
}

.noPagina {
  display: none;
}