@import url(Fuentes.css);



.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--Separadores);
    padding: 0;
    margin: 0;
}

.font {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    font-family: "Roboto Flex", sans-serif;
    color: var(--Texto-Color);
    font-size: 12px;
    padding: 5px;

}