@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: "Anton", sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* font-family: "Fjalla One", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/* font-family: "Archivo Black", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
/*  font-family: "Concert One", sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
/*font-family: "Roboto Flex", sans-serif;*/