:root {
  --Background-Color-Complemento: #050913;
  --Background-Color: #091e3b;
  --Separadores: #173769;
  --Texto-Color: #E5E7EB;
  --Texto-Color-Complemento: #9C948C;
  --Visto: #22c55e;
  --NoVisto: #ef4444;
  --Boton-Primario: #3B82F6;
  --Boton-Secundario: #1f71f7;
  --Boton-Terciario: #3bf66a;
  --Boton-Cuaternario: #1bcf48;
}