@import url(General.css);
@import url(Fuentes.css);

.container {
    margin: 0;
    width: 100%;
    background-color: var(--Separadores);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 5px;
    font-family: "Roboto Flex", sans-serif;
    color: var(--Texto-Color);
}

.mayores {
    margin: 0;
    width: 100%;
    background-color: var(--NoVisto);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 5px;
    font-family: "Roboto Flex", sans-serif;
    color: var(--Texto-Color);
}

.todos {
    margin: 0;
    width: 100%;
    background-color: var(--Visto);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 5px;
    font-family: "Roboto Flex", sans-serif;
    color: var(--Texto-Color);
}

.medio {
    margin: 0;
    width: 100%;
    background-color: rgb(236, 121, 27);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 5px;
    font-family: "Roboto Flex", sans-serif;
    color: var(--Texto-Color);
}