@import url(General.css);
@import url(Fuentes.css);

.moreInfo {
    background-color: var(--Background-Color);
    border: var(--Separadores) solid 1px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    height: 400px;
    width: 300px;
}