.video {
    width: 711px;
    border: solid var(--Separadores) 1px;
    border-radius: 15px;
    box-sizing: border-box;
    height: 400px;
}



@media screen and (max-width: 1183px) {
    .video {
        width: 500px;
    }
}

@media screen and (max-width: 994px) {
    .video {
        width: 700px;
    }
}

@media screen and (max-width: 743px) {
    .video {
        width: 600px;
    }
}