.contenedor {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--Background-Color);
    border-bottom: var(--Separadores) solid 1px;
}

.imgContenedor {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    will-change: transform;
    transition: none;
    padding: 10px;
    gap: 10px;
    /* No se usa una transición aquí para un scroll continuo */
}

.imagen {
    height: 100%;
    /* Fixed width for consistent scroll */
    object-fit: cover;
    border-radius: 10px;


}

.contenedorTexto {
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--Texto-Color);
    flex-direction: column;
    align-items: center;
    background-color: var(--Background-Color-Complemento);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    border: solid red;
    width: 150px;
}

.contenedorTexto p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-size-adjust: inherit;
}