@import url(General.css);


.content {
    width: 100%;
    height: 100vh;
    margin: auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--Background-Color-Complemento);
}

.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    box-sizing: border-box;
    border-bottom: solid var(--Separadores) 1px;
    background-color: var(--Background-Color);
}

.navbar img {
    height: 100%;
    box-sizing: border-box;
}

.navbar h1:hover {
    color: var(--Texto-Color-Complemento);
    transform: scale(1.09);
}




h1 {
    color: var(--Texto-Color);
    font-size: 35px;
}

.contentImg {
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin: auto;
    position: relative;
    margin: auto;
    text-align: center;
    border: solid var(--Separadores) 1px;
    border-radius: 10px;
}

.contentImg img {
    height: 90%;
    border-radius: 10px;
}

.registro {
    border: solid var(--Separadores) 1px;
    background-color: var(--Background-Color);
    margin: auto;
    max-width: 400px;
    min-width: 350px;
    padding: 30px;
    border-radius: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--Texto-Color);
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.formulario input[type="text"],
.formulario input[type="password"] {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: solid var(--Separadores) 1px;
    text-align: left;
    font-size: 20px;
    padding-left: 20px;
    font-family: "Concert One", sans-serif;
    color: var(--Texto-Color-Complemento);
    background-color: var(--Separadores);
}

.formulario input[type="submit"] {
    background-color: var(--Boton-Primario);
    color: var(--Texto-Color);
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: "Concert One", sans-serif;
    font-size: 25px;
    width: 80%;
}

.formulario input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--Boton-Secundario);

}